<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-light-subtle fixed-top">
            <div class="container">
              <a class="navbar-brand" href="#"><span class="text-warning">Paws</span> Rescue</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    
                    <!-- <li class="nav-item mb-auto mt-auto me-2">
                        <a class="nav-link" href="/rescues/new">New Rescue</a>
                    </li> -->
    
                    <li class="nav-item">
                        <a class="nav-link" href="/users/logout">
                            <button class="btn btn-warning">Logout</button>
                        </a>
                    </li>
                </ul>
              </div>
            </div>
          </nav>

        
        <div class="container">
            <div class="d-flex flex-column mb-3 flex-wrap p-4">
                {% with messages = get_flashed_messages(category_filter=['rescue']) %}     <!-- declare a variable called messages -->
                {% if messages %}                            <!-- check if there are any messages -->
                    {% for message in messages %}            <!-- loop through the messages -->
                        <p class="text-danger">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>
            <form action="/rescues/create" method="post" class="d-flex justify-content-around">
                <div class="left-form" class="p-3 mb-5 shadow-lg bg-body-tertiary rounded text-primary bg-body-secondary d-flex flex-md-column justify-content-around align-items-center"
                style="height: 75%; width: 25%;">
                    <div class="mb-3">
                    <label  class="form-label">Name: </label>
                    <input type="text" name="name" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Type of animal:</label>
                    <input type="text" name="type" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Breed of animal:</label>
                    <input type="text" name="breed" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Age</label>
                    <input type="number" name="age" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Description:</label>
                    <textarea class="form-control"  rows="5" name="description"></textarea>
                </div>
            </div>
                <div class="right-form">
                    <div class="mb-5">
                        <label class="form-label">Address:</label>
                        <input type="text" name="location" class="form-control">
                    </div>
                    <div class="mb-3">
                        <p class="mb-3">Animal is Male or Female?</p>
                        <div class="d-flex m-3">
                            <div class="form-check mx-4">
                                <input class="form-check-input" type="radio" name="gender" value="1">
                                <label class="form-check-label"> Male </label>
                            </div>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="gender" value="0">
                                <label class="form-check-label" > Female </label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <p class="mb-3">Animal is spayed/neutered? (Y/N)</p>
                        <div class="d-flex m-3">
                            <div class="form-check mx-4">
                                <input class="form-check-input" type="radio" name="fixed" value="1">
                                <label class="form-check-label"> Yes</label>
                            </div>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="fixed" value="0">
                                <label class="form-check-label" >No</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-5">
                        <p class="mb-3 ">Size of animal? </p>
                        <div class="d-flex m-3">
                            <div class="form-check mx-2">
                                <input class="form-check-input" type="radio" name="size" value="1">
                                <label class="form-check-label"> small</label>
                            </div>
                            <div class="form-check mx-2">
                                <input class="form-check-input" type="radio" name="size" value="0">
                                <label class="form-check-label" >medium</label>
                            </div>
                            <div class="form-check mx-2 ">
                                <input class="form-check-input" type="radio" name="size" value="2">
                                <label class="form-check-label" >Large</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="hidden" name="user_id" value="{{session['login_id']}}">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
</html>